<a href="https://colab.research.google.com/github/JaeinCK/Study-AI/blob/main/%ED%95%99%EC%9B%90_%EC%97%B0%EC%8A%B53.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_excel('/content/students (2).xlsx')
df1=pd.read_excel('/content/거래내역조회 (1).xlsx',skiprows=3)

In [ ]:
# 아래 문제들을 map, apply, applymap을 이용해서 풀어주세요.
# 1.'번호'에 번 붙이고 1은 001, 11은 011 처럼 세자리수 맞춰서 앞에 0 채우기
# 001번, 002번, 003번 ....
# 2.생년월일에 년, 월, 일 붙이기
# 2050-01-01 => 2050년01월01일
# 3. apply를 이용해 평균과 총점 구하기
# 4. 학업성취도를 아래와 같이 나눠서 새로운 컬럼으로 만들기.(평균 기준)
## 90 이상이면 최우수
## 80 ~ 90 사이면 우수
## 70 ~ 80 사이면 보통
## 60 ~ 70 사이면 미달
# 5. apply를 이용해 min-max scaler 일괄 적용
# 어떤 데이터군을 0 ~ 1 사이의 값으로 범위를 한정시키는 방법이다. 크기 기준이 제각각 다른 데이터간 기준을 맞추어 관계를 명확히 표현하기 위해서 사용한다.
# min - max scale 공식은 아래와 같다.
# 어떤 데이터군(리스트, 시리즈)이 있을 때, 어떤 대상값을 0 ~ 1 사이의 값으로 만들려면
# (대상값 - 해당 데이터 군의 최소값) / (해당 데이터 군의 최대값 - 해당 데이터 군의 최소값)
# 6. applymap을 이용해 모든 점수 뒤에 점 붙이기
# 90점, 91점 ...

In [ ]:
df1

,No.,거래일시,적요,기재내용,찾으신금액,맡기신금액,거래후 잔액,취급점,메모
0,1,2022.03.12 03:37,ＣＭＳ,NaN,9570,0,26213,유성금융센터,NaN
1,2,2022.03.11 03:26,통신요금,01011112222SKT,117910,0,35783,유성금융센터,NaN
2,3,2022.03.10 18:23,체크우리,김밥이 좋아,4500,0,153693,영업추진부(카드),NaN
3,4,2022.03.10 16:05,체크우리,스타벅스,2000,0,158193,영업추진부(카드),NaN
4,5,2022.03.10 10:42,체크우리,몸짱피트니스,238000,0,160193,영업추진부(카드),NaN
5,6,2022.03.10 10:40,타행이체,친구,0,100000,398193,KB증권,NaN
6,7,2022.03.10 00:59,펌뱅킹,이커머스,15540,0,198193,유성금융센터,NaN
7,8,2022.03.09 18:49,체크우리,커피집,2000,0,213733,영업추진부(카드),NaN
8,9,2022.03.09 18:05,타행이체,가족,0,200000,215733,KB증권,NaN
9,10,2022.03.09 16:52,체크우리,피자집,9800,0,15733,영업추진부(카드),NaN

In [ ]:
#결측치
import numpy as np
sr2=pd.Series([1,2,3,4,np.nan])   #NaN은 값이 없음
sr2 #결측치가 있으면 연산이 안되는 함수가 존재
#결측치 처리방법
#행제거, 열제거, 특정 값으로 치환, 숫자는 0, 평균, 중앙값, 최빈값으로, 문자는 새로운 카테고리, 공백으로.
#결측치 확인
df1.isna()
df1.isna().sum()
df1.dropna(axis=1)  #결측치 있는 열 무조건 삭제
df1.dropna(subset=['기재내용'],axis=0)  #특정 로우만 삭제
                         #열 삭제는 drop으로

,No.,거래일시,적요,기재내용,찾으신금액,맡기신금액,거래후 잔액,취급점,메모
1,2,2022.03.11 03:26,통신요금,01011112222SKT,117910,0,35783,유성금융센터,NaN
2,3,2022.03.10 18:23,체크우리,김밥이 좋아,4500,0,153693,영업추진부(카드),NaN
3,4,2022.03.10 16:05,체크우리,스타벅스,2000,0,158193,영업추진부(카드),NaN
4,5,2022.03.10 10:42,체크우리,몸짱피트니스,238000,0,160193,영업추진부(카드),NaN
5,6,2022.03.10 10:40,타행이체,친구,0,100000,398193,KB증권,NaN
6,7,2022.03.10 00:59,펌뱅킹,이커머스,15540,0,198193,유성금융센터,NaN
7,8,2022.03.09 18:49,체크우리,커피집,2000,0,213733,영업추진부(카드),NaN
8,9,2022.03.09 18:05,타행이체,가족,0,200000,215733,KB증권,NaN
9,10,2022.03.09 16:52,체크우리,피자집,9800,0,15733,영업추진부(카드),NaN

In [ ]:
#특정 값으로 치환
#문자치환
df1.fillna(' ')
df1['메모']=df1['메모'].fillna(' ')
df1['기재내용']=df1['기재내용'].fillna('기타')

df_cp=df1.copy()
df_cp.loc[[0,3,5],'찾으신금액']=np.nan
avg=df_cp['찾으신금액'].mean()    #평균
df_cp['찾으신금액']=df_cp['찾으신금액'].fillna(avg)   #평균으로 채우기
df_cp

,No.,거래일시,적요,기재내용,찾으신금액,맡기신금액,거래후 잔액,취급점,메모
0,1,2022.03.12 03:37,ＣＭＳ,기타,55392.857143,0,26213,유성금융센터,
1,2,2022.03.11 03:26,통신요금,01011112222SKT,117910.000000,0,35783,유성금융센터,
2,3,2022.03.10 18:23,체크우리,김밥이 좋아,4500.000000,0,153693,영업추진부(카드),
3,4,2022.03.10 16:05,체크우리,스타벅스,55392.857143,0,158193,영업추진부(카드),
4,5,2022.03.10 10:42,체크우리,몸짱피트니스,238000.000000,0,160193,영업추진부(카드),
5,6,2022.03.10 10:40,타행이체,친구,55392.857143,100000,398193,KB증권,
6,7,2022.03.10 00:59,펌뱅킹,이커머스,15540.000000,0,198193,유성금융센터,
7,8,2022.03.09 18:49,체크우리,커피집,2000.000000,0,213733,영업추진부(카드),
8,9,2022.03.09 18:05,타행이체,가족,0.000000,200000,215733,KB증권,
9,10,2022.03.09 16:52,체크우리,피자집,9800.000000,0,15733,영업추진부(카드),

In [ ]:
#그룹핑
# 7. 학생들의 평균 수학 점수가 가장 높은 도시는?
df['지역명'].value_counts()
df['지역명'].unique()
df.loc[df['지역명']=='대전','수학'].mean()
df.loc[df['지역명']=='서울','수학'].mean()
df.loc[df['지역명']=='부산','수학'].mean()

#그렇게 해도 되고 groupby 이용
#국가별 GDP 현황 등
df.groupby('지역명')['수학'].sum()

지역명
광주    1309
대구     921
대전    1565
부산     941
서울    1812
울산    1362
Name: 수학, dtype: int64

In [ ]:
#중그룹, 소그룹
df['성']=df['이름'].str[:1]
df['성'].unique() #7개
df['평균']=(df['국어']+df['영어']+df['수학'])/3
df.groupby('성')['국어'].mean()
df.groupby('성')['수학'].mean()
df.groupby('성')['영어'].mean()
df.groupby('성')['평균'].mean()
df.groupby('성').mean()

df.groupby(['성','지역명'])['평균'].mean()    #두번 그룹핑

<ipython-input-75-dcab1f88df3d>:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('성').mean()

성  지역명
강  광주     75.500000
   서울     85.333333
   울산     73.666667
김  광주     78.666667
   대구     77.166667
   대전     80.166667
   부산     81.666667
   서울     76.500000
   울산     76.333333
박  대구     84.333333
   대전     76.466667
   부산     71.666667
   서울     80.222222
   울산     79.333333
윤  광주     76.500000
   대구     85.333333
   부산     80.500000
   서울     80.333333
   울산     81.000000
이  광주     83.555556
   대구     79.000000
   대전     75.333333
   서울     81.000000
   울산     79.166667
장  광주     84.333333
   대구     76.444444
   대전     78.555556
   부산     72.333333
   서울     82.444444
   울산     82.333333
정  광주     76.666667
   대구     77.500000
   대전     81.200000
   부산     81.888889
   서울     79.111111
   울산     82.555556
Name: 평균, dtype: float64

In [ ]:
# 아래 문제들을 map, apply, applymap을 이용해서 풀어주세요.
# 1.'번호'에 번 붙이고 1은 001, 11은 011 처럼 세자리수 맞춰서 앞에 0 채우기
# 001번, 002번, 003번 ....

In [ ]:
df['번호']=df['번호'].astype('str')+'번'

      번호   이름  국어  영어  수학 지역명       생년월일
0     1번  이현진  68  77  81  대전 2050-08-17
1     2번  장민동  84  97  88  광주 2050-08-02
2     3번  강준은  63  85  64  울산 2050-10-22
3     4번  강혜희  99  95  79  서울 2050-05-27
4     5번  김혜수  83  76  67  대전 2050-01-25
..   ...  ...  ..  ..  ..  ..        ...
95   96번  이민운  99  63  65  서울 2050-08-18
96   97번  장혜운  90  86  62  대전 2050-10-08
97   98번  박철동  90  96  60  대전 2050-03-01
98   99번  강준동  62  69  69  광주 2050-11-24
99  100번  이현운  84  91  73  서울 2050-07-20

[100 rows x 7 columns]

In [ ]:
def string_change(s):
  return s.zfill(4)
#df['번호'].str.zfill(4)
df['번호'].apply(string_change)

0     001번
1     002번
2     003번
3     004번
4     005번
      ...
95    096번
96    097번
97    098번
98    099번
99    100번
Name: 번호, Length: 100, dtype: object

In [ ]:
# 2.생년월일에 년, 월, 일 붙이기
# 2050-01-01 => 2050년01월01일
df['생년월일']=df['생년월일'].astype('str')
def put_word(s):
  return s[:4]+'년'+s[5:7]+'월'+s[8:10]+'일'
df['생년월일'].apply(put_word)

0     2050년08월17일
1     2050년08월02일
2     2050년10월22일
3     2050년05월27일
4     2050년01월25일
         ...
95    2050년08월18일
96    2050년10월08일
97    2050년03월01일
98    2050년11월24일
99    2050년07월20일
Name: 생년월일, Length: 100, dtype: object

In [ ]:
# 3. apply를 이용해 평균과 총점 구하기
def get_avg(col):
  return col.mean()
def get_sum(col):
  return col.sum()
df2=df[['수학','영어','국어']]
df2.apply(get_avg)
df2.apply(get_sum)

수학    7910
영어    8021
국어    7906
dtype: int64

In [ ]:
# 4. 학업성취도를 아래와 같이 나눠서 새로운 컬럼으로 만들기.(평균 기준)
## 90 이상이면 최우수
## 80 ~ 90 사이면 우수
## 70 ~ 80 사이면 보통
## 60 ~ 70 사이면 미달

df['평균']=(df['국어']+df['영어']+df['수학'])/3
df['등급']='보통'
def grading(num):
  if num>=90:
    return '최우수'
  elif num>=80 and num<90:
    return '우수'
  elif num>=70 and num<80:
    return '보통'
  else:
    return '미달'

df['등급']=df['평균'].apply(grading)
df

      번호   이름  국어  영어  수학 지역명        생년월일         평균   등급
0     1번  이현진  68  77  81  대전  2050-08-17  75.333333   보통
1     2번  장민동  84  97  88  광주  2050-08-02  89.666667   우수
2     3번  강준은  63  85  64  울산  2050-10-22  70.666667   보통
3     4번  강혜희  99  95  79  서울  2050-05-27  91.000000  최우수
4     5번  김혜수  83  76  67  대전  2050-01-25  75.333333   보통
..   ...  ...  ..  ..  ..  ..         ...        ...  ...
95   96번  이민운  99  63  65  서울  2050-08-18  75.666667   보통
96   97번  장혜운  90  86  62  대전  2050-10-08  79.333333   보통
97   98번  박철동  90  96  60  대전  2050-03-01  82.000000   우수
98   99번  강준동  62  69  69  광주  2050-11-24  66.666667   미달
99  100번  이현운  84  91  73  서울  2050-07-20  82.666667   우수

[100 rows x 9 columns]

In [ ]:
# 5. apply를 이용해 min-max scaler 일괄 적용
# 어떤 데이터군을 0 ~ 1 사이의 값으로 범위를 한정시키는 방법이다. 크기 기준이 제각각 다른 데이터간 기준을 맞추어 관계를 명확히 표현하기 위해서 사용한다.
# min - max scale 공식은 아래와 같다.
# 어떤 데이터군(리스트, 시리즈)이 있을 때, 어떤 대상값을 0 ~ 1 사이의 값으로 만들려면
# (대상값 - 해당 데이터 군의 최소값) / (해당 데이터 군의 최대값 - 해당 데이터 군의 최소값)
def min_max(col):

  return (col-col.min())/(col.max()-col.min())
min_max(df['영어'])

0     0.447368
1     0.973684
2     0.657895
3     0.921053
4     0.421053
        ...
95    0.078947
96    0.684211
97    0.947368
98    0.236842
99    0.815789
Name: 영어, Length: 100, dtype: float64

In [ ]:
# 6. applymap을 이용해 모든 점수 뒤에 점 붙이기
# 90점, 91점 ...
def put_letter(x):

  return str(x)+'점'
df['국어'].apply(put_letter)
df[['국어','수학','영어']].applymap(put_letter)

     국어   수학   영어
0   68점  81점  77점
1   84점  88점  97점
2   63점  64점  85점
3   99점  79점  95점
4   83점  67점  76점
..  ...  ...  ...
95  99점  65점  63점
96  90점  62점  86점
97  90점  60점  96점
98  62점  69점  69점
99  84점  73점  91점

[100 rows x 3 columns]

In [ ]:
# 문제 5.  선생님답

# 1. 각 지역별 국, 영, 수 평균

# 2. 가장 평균 성적이 좋은 도시는?

# 3. 생년월일에서 월별로 학생들의 수를 구해주세요.

# 4. 각 지역별로 평균이 80점 넘는 학생의 수
df['평균']=(df['국어']+df['영어']+df['수학'])/3
df.loc[df['평균']>=80].groupby('지역명').count()['번호']
# 5. 각 지역별 평균 점수가 80점 미만인 지역은?

# 6. 각 지역에서 점수대별 학생수 현황(90점대, 80점대, 70점대, 60점대 등)
df['점수대']=df['평균']//10*10

df.groupby('점수대').count()['번호']
# 7. 지역별 학생의 평균성적 top3

df.sort_values('평균',ascending=False).groupby('지역명').head(3).sort_values(['지역명','평균'],ascending=[True,False])

     번호   이름  국어  영어  수학 지역명        생년월일         평균   등급   점수대
10  11번  이민은  94  91  98  광주  2050-09-07  94.333333  최우수  90.0
94  95번  정현연  98  89  85  광주  2050-05-19  90.666667  최우수  90.0
1    2번  장민동  84  97  88  광주  2050-08-02  89.666667   우수  80.0
88  89번  박명희  83  94  94  대구  2050-07-02  90.333333  최우수  90.0
93  94번  이현진  97  96  72  대구  2050-08-04  88.333333   우수  80.0
44  45번  윤혜연  78  90  88  대구  2050-03-09  85.333333   우수  80.0
40  41번  김명은  87  88  99  대전  2050-05-09  91.333333  최우수  90.0
90  91번  정철동  81  98  82  대전  2050-01-03  87.000000   우수  80.0
41  42번  정준수  90  78  83  대전  2050-08-23  83.666667   우수  80.0
56  57번  정현연  79  97  98  부산  2050-05-11  91.333333  최우수  90.0
79  80번  김준수  93  95  66  부산  2050-02-08  84.666667   우수  80.0
19  20번  윤민연  82  89  72  부산  2050-11-24  81.000000   우수  80.0
3    4번  강혜희  99  95  79  서울  2050-05-27  91.000000  최우수  90.0
83  84번  장혜은  94  76  99  서울  2050-07-12  89.666667   우수  80.0
15  16번  이명동  96  68  97  서울  2050-03-21  87.000000   우수  80.0
67  68번  이혜운  83  97  97  울산  2050-10-05  92.333333  최우수  90.0
81  82번  정준동  82  95  99  울산  2050-04-07  92.000000  최우수  90.0
37  38번  윤지연  90  80  86  울산  2050-10-10  85.333333   우수  80.0