<a href="https://colab.research.google.com/github/JaeinCK/Study-AI/blob/main/%ED%95%99%EC%9B%90%EC%97%B0%EC%8A%B5_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df1=pd.read_excel('/content/students (3).xlsx')
df2=pd.read_excel('/content/거래내역조회 (2).xlsx',skiprows=3)

In [ ]:
#map, apply, applymap

li=[1,2,3,4]
for num in li:
  print(num)
def print_num(x):
  return x+1
list(map(print_num,li))

1
2
3
4

[2, 3, 4, 5]

In [ ]:
#판다스의 map은 시리즈에 적용함
df2['No.']

def add_bun(no):
  return str(no)+"번"
df2['No.'].map(add_bun)

,No.,거래일시,적요,기재내용,찾으신금액,맡기신금액,거래후 잔액,취급점,메모
0,1,2022.03.12 03:37,ＣＭＳ,NaN,9570,0,26213,유성금융센터,NaN
1,2,2022.03.11 03:26,통신요금,01011112222SKT,117910,0,35783,유성금융센터,NaN
2,3,2022.03.10 18:23,체크우리,김밥이 좋아,4500,0,153693,영업추진부(카드),NaN
3,4,2022.03.10 16:05,체크우리,스타벅스,2000,0,158193,영업추진부(카드),NaN
4,5,2022.03.10 10:42,체크우리,몸짱피트니스,238000,0,160193,영업추진부(카드),NaN
5,6,2022.03.10 10:40,타행이체,친구,0,100000,398193,KB증권,NaN
6,7,2022.03.10 00:59,펌뱅킹,이커머스,15540,0,198193,유성금융센터,NaN
7,8,2022.03.09 18:49,체크우리,커피집,2000,0,213733,영업추진부(카드),NaN
8,9,2022.03.09 18:05,타행이체,가족,0,200000,215733,KB증권,NaN
9,10,2022.03.09 16:52,체크우리,피자집,9800,0,15733,영업추진부(카드),NaN

In [ ]:
#경우의 수, 찾으신금액이 10만 미만이면 소비, 10만~20만 사이이면 과소비, 20만 이상
#이면 파산
def cal(x):
  if 100000>=x:
    return '소비'
  elif 200000>=x:     #x>100000 안넣어도 됨. elif라서.
    return '과소비'
  else:
    return '파산'
df2['찾으신금액'].map(cal)

#선생님 풀이
df2['소비기준']=''
df2.loc[df2['찾으신금액']<100000,'소비기준']='적음'
#이렇게 해도 되지만,

#내가 푼 방법으로 하심.

In [ ]:
#apply 활용

#컬럼에 대한 일괄 연산
def get_col_data(col):
  return col.sum()

df2[['찾으신금액','맡기신금액']].apply(get_col_data,axis=0)
def get_row_data(row):
  return row.mean()
df2[['찾으신금액','맡기신금액']].apply(get_row_data,axis=1)
def introduce(row):
  return f"{row['거래일시']}에 {row['기재내용']}을 하기위해 {row['찾으신금액']}을 사용해서 {row['거래후 잔액']}이 남았습니다. {row['소비기준']} 소비였습니다."

df2.apply(introduce,axis=1)

0    2022.03.12 03:37에 nan을 하기위해 9570을 사용해서 26213이 ...
1    2022.03.11 03:26에 01011112222SKT을 하기위해 117910을...
2    2022.03.10 18:23에 김밥이 좋아을 하기위해 4500을 사용해서 1536...
3    2022.03.10 16:05에 스타벅스을 하기위해 2000을 사용해서 158193...
4    2022.03.10 10:42에 몸짱피트니스을 하기위해 238000을 사용해서 16...
5    2022.03.10 10:40에 친구을 하기위해 0을 사용해서 398193이 남았습...
6    2022.03.10 00:59에 이커머스을 하기위해 15540을 사용해서 19819...
7    2022.03.09 18:49에 커피집을 하기위해 2000을 사용해서 213733이...
8    2022.03.09 18:05에 가족을 하기위해 0을 사용해서 215733이 남았습...
9    2022.03.09 16:52에 피자집을 하기위해 9800을 사용해서 15733이 ...
dtype: object

In [ ]:
#applymap =데이터프레임의 활용
def add_won(x):
  return str(x)+'원'
df2[['찾으신금액','맡기신금액','거래후 잔액']].applymap(add_won)
#익명 함수(lambda)
def aa():
  print("hihi")
bb=aa

bb=lambda x: x
bb(3)

3

In [ ]:
df3=pd.read_csv('/content/sel_course.csv')
df3
# merge 연습문제
# =============================================
# 문제1 - 각 선택 과목별 학생 수
df3.groupby('과목명').count()['과목번호']

     학번  과목번호   과목명 담당선생님
0    88     1  사회문화   김문화
1    62     1  사회문화   김문화
2    61     1  사회문화   김문화
3    40     1  사회문화   김문화
4    33     1  사회문화   김문화
..   ..   ...   ...   ...
168  89    11    화학   주기율
169  44    11    화학   주기율
170  79    11    화학   주기율
171  23    11    화학   주기율
172  16    11    화학   주기율

[173 rows x 4 columns]

In [ ]:
df4=pd.read_csv('/content/students_info1.csv')
# 문제2 - 선택 과목을 3개 이상 듣는 학생의 번호와 이름
idx=df3['학번'].value_counts()>=3

#df3['학번'].unique()   #3번이 없다

#df3.loc[idx,'학번']
#df4
df5=pd.read_csv('/content/students_info2.csv')
df6=pd.concat([df4,df5])
df3.sort_values(by='학번',ascending=True)
#data=pd.Series([False,False],index=[])
#idx.append(data)

<ipython-input-188-e59c40579240>:13: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  idx.append(data)

88     True
19     True
26     True
2      True
36     True
      ...
9     False
83    False
79    False
3     False
5     False
Length: 75, dtype: bool

In [ ]:
data1 = {
    '학번': [101, 102, 103, 104],
    '이름': ['Alice', 'Bob', 'Charlie', 'David'],
    '성별': ['여성', '남성', '남성', '남성']
}

data2 = {
    '학번': [101, 103, 105],
    '전공': ['수학', '물리', '화학'],
    '학점': [3.5, 4.0, 3.2]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# '학번' 105인 데이터 추가

# merge를 사용하여 두 데이터프레임 합치기
merged_df = pd.merge(df1, df2, on='학번')

print(merged_df)

    학번       이름  성별  전공   학점
0  101    Alice  여성  수학  3.5
1  103  Charlie  남성  물리  4.0

In [ ]:
#선생님답
# 아래 문제들을 map, apply, applymap을 이용해서 풀어주세요.



# 1.'번호'에 번 붙이고 1은 001, 11은 011 처럼 세자리수 맞춰서 앞에 0 채우기
# 001번, 002번, 003번 ....



# 2.생년월일에 년, 월, 일 붙이기
# 2050-01-01 => 2050년01월01일

df1['생년월일'].astype('str').str.split('-').map(lambda dt: f"{dt[0]}년{dt[1]}월{dt[2]}일")


# 3. apply를 이용해 평균과 총점 구하기



# 4. 학업성취도를 아래와 같이 나눠서 새로운 컬럼으로 만들기.(평균 기준)
## 90 이상이면 최우수
## 80 ~ 90 사이면 우수
## 70 ~ 80 사이면 보통
## 60 ~ 70 사이면 미달


# 5. apply를 이용해 min-max scaler 일괄 적용
# 어떤 데이터군을 0 ~ 1 사이의 값으로 범위를 한정시키는 방법이다. 크기 기준이 제각각 다른 데이터간 기준을 맞추어 관계를 명확히 표현하기 위해서 사용한다.

# min - max scale 공식은 아래와 같다.

# 어떤 데이터군(리스트, 시리즈)이 있을 때, 어떤 대상값을 0 ~ 1 사이의 값으로 만들려면

# (대상값 - 해당 데이터 군의 최소값) / (해당 데이터 군의 최대값 - 해당 데이터 군의 최소값)

def min_max_scaler(col):
  return (col-min(col))/(max(col)-min(col))
df[['수학','국어','영어']].apply(min_max_scaler)

# 6. applymap을 이용해 모든 점수 뒤에 점 붙이기
# 90점, 91점 ...

          수학        국어        영어
0   0.538462  0.205128  0.447368
1   0.717949  0.615385  0.973684
2   0.102564  0.076923  0.657895
3   0.487179  1.000000  0.921053
4   0.179487  0.589744  0.421053
..       ...       ...       ...
95  0.128205  1.000000  0.078947
96  0.051282  0.769231  0.684211
97  0.000000  0.769231  0.947368
98  0.230769  0.051282  0.236842
99  0.333333  0.615385  0.815789

[100 rows x 3 columns]

In [ ]:
#데이터 프레임 붙이기
data1={
    '이름':['홍길동','이순신','유관순'],
    '국어':[80,90,100],
    '수학':[100,80,90],
    '영어':[80,70,80]

}
df0=pd.DataFrame(data1)
data2={
    '이름':['을지문덕','황진이'],
    '국어':[80,90],
    '수학':[100,80],
    '영어':[80,70]

}
df00=pd.DataFrame(data2)
print(df00)
print(df0)
df10=pd.concat([df0,df00],axis=0)#행과 행이 붙어서 axis=0
data3={

    '파이썬':[80,90,100,90,20],
    '인공지능':[100,80,24,542,1],


}
df000=pd.DataFrame(data3)
df11=df10.reset_index()
df11=df11.drop('index',axis=1)
pd.concat([df11,df000],axis=1,ignore_index=True)  #선생님 노트 보고 다시 풀것

     이름  국어   수학  영어
0  을지문덕  80  100  80
1   황진이  90   80  70
    이름   국어   수학  영어
0  홍길동   80  100  80
1  이순신   90   80  70
2  유관순  100   90  80

      0    1    2   3    4    5
0   홍길동   80  100  80   80  100
1   이순신   90   80  70   90   80
2   유관순  100   90  80  100   24
3  을지문덕   80  100  80   90  542
4   황진이   90   80  70   20    1