<a href="https://colab.research.google.com/github/JaeinCK/Study-AI/blob/main/%ED%95%99%EC%9B%90_%EC%97%B0%EC%8A%B51.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(34)

34

In [ ]:
i=1024
sum=0
for i in str(i):
  sum+=int(i)
print(sum)

7

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [ ]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [ ]:
ages=pd.Series([22,35,58],name="Age")    #시리즈는 같은자료형만
ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [ ]:
##시리즈 만들기
s1=pd.Series(["피자","떡볶이","치킨","족발"])
s1[2]

'치킨'

In [ ]:
s2=pd.Series(["피자","떡볶이","치킨","족발"],name="야식")
s2

0     피자
1    떡볶이
2     치킨
3     족발
Name: 야식, dtype: object

In [ ]:
pd.Series(index=['야식1','야식2','야식3','야식4'],data=["피자","떡볶이","치킨","족발"],name="야식")

야식1     피자
야식2    떡볶이
야식3     치킨
야식4     족발
Name: 야식, dtype: object

In [ ]:
##데이터프레임
data={
    "이름":["홍길동","이순신","임꺽정"],
    "나이":[22,33,45],
    "학교":["서울대","고려대","한양대"]
}
student=pd.DataFrame(data)

In [ ]:
#데이터에 접근, 시리즈 단위로 접근

student['이름']              #이거 시리즈임
age=student['나이']
age[0]                              #둘이 같다
student['나이'][0]                  #둘이 같다

22

In [ ]:
##열을 여러개 선택(데이터프레임)

student[['이름','나이']]     #0번째 뽑을수없음 데이터프레임이라

    이름  나이
0  홍길동  22
1  이순신  33
2  임꺽정  45

In [ ]:
row=student[['이름','나이']].loc[0]      #데이터 프레임에서 가로줄 선택하는 법
row

이름    홍길동
나이     22
Name: 0, dtype: object

In [ ]:
#행과 열 동시에 선택
df3=student
df3
df3.loc[[0,1],["이름","나이"]]
df3.loc[[0,2],["이름","학교"]]    ##여러개 받고싶으면 []로 감싸기

    이름   학교
0  홍길동  서울대
2  임꺽정  한양대

In [ ]:
student

    이름  나이   학교
0  홍길동  22  서울대
1  이순신  33  고려대
2  임꺽정  45  한양대

In [ ]:
#파일로 저장하고 읽어오기

student.to_csv('student.csv')

In [ ]:
#csv파일 읽어오기
df=pd.read_csv('student.csv')   #index번호까지 데이터로 저장해버림. csv파일로 저장할때 index 저장하지 않기

In [ ]:
student.to_csv('student.csv',index=False)
df=pd.read_csv('student.csv')
df

    이름  나이   학교
0  홍길동  22  서울대
1  이순신  33  고려대
2  임꺽정  45  한양대

In [ ]:
df=pd.read_excel('/content/거래내역조회 (1).xlsx',skiprows=3)
df

FileNotFoundError: ignored

In [ ]:
##데이터 접근
## loc,iloc 이용 loc은 row기준임
## 단일 선택, 다중 선택, 슬라이싱, 논리 인덱싱

df.loc[0]

In [ ]:
df.loc[[0,2,5]]

In [ ]:
df.loc[0:4]    #[0:4:2] 가능

In [ ]:
df2=df.loc[0:4:2]
df2
df2.loc[[True,False,True]]
## row와 column을 같이 선택

In [ ]:
## row와 column을 같이 선택
df.loc[0:4:2,['찾으신금액', '맡기신금액',	'거래후 잔액']]            #슬라이싱

In [ ]:
df.loc[0:4:2,'찾으신금액':'거래후 잔액']

In [ ]:
#특정조건을 만족하는 행만 선택
#찾으신 금액이 100000(십만)이상인 행만 선택
df['찾으신금액'] >100000
df.loc[df['찾으신금액'] >100000]

In [ ]:
#찾으신 금액이 100000원 이상이면서 통신요금   &연산자 쓰기

df.loc[df['찾으신금액'] >100000]
df['적요']=='통신요금'

df.loc[(df['찾으신금액'] >100000) & (df['적요']=='통신요금') ]

In [ ]:
df3=pd.read_excel('/content/students (2).xlsx')
df3

In [ ]:
df4=df3.loc[df3['국어']>80]
df4.loc[:,['이름','생년월일']]
df3.loc[df3['국어']>80].loc[:,['이름','생년월일']]

In [ ]:
df3.loc[df3['수학']<80].loc[:,['영어','국어']]

In [ ]:
# 4. 국어와 수학이 90점 이상인 학생의 이름, 수학, 국어 점수
df3.loc[(df3['수학']>=90)& (df3['국어']>=90)].loc[:,['수학','국어']]

#df.loc[(df['찾으신금액'] >100000) & (df['적요']=='통신요금') ]

In [ ]:

# 5. 모든 과목이 60점 미만인 학생의 번호, 이름, 생년월일
df3.loc[(df3['수학']<80)& (df3['국어']<80)& (df3['영어']<80) ].loc[:,['번호','이름','생년월일']]

In [ ]:
 #대전 지역 학생들의 이름, 국어, 영어, 수학 점수

 df3.loc[df3.loc[:,'지역명']=='대전'].loc[:,["국어","영어", "수학"]]

In [ ]:
#iloc 로 데이터 접근


df=df3.loc[:2]
df
df.index=['a','b','c']  #loc[0]이라 치면 안나옴. 인덱스를 바꿨으니까
df.loc['a']

In [ ]:
df.iloc[0]        #인덱스 바뀌어도 숫자 이용해 접근

df.iloc[:,2]

In [ ]:
import pandas as pd


df=pd.read_excel('/content/students (3).xlsx')
df

     번호   이름  국어  영어  수학 지역명       생년월일
0     1  이현진  68  77  81  대전 2050-08-17
1     2  장민동  84  97  88  광주 2050-08-02
2     3  강준은  63  85  64  울산 2050-10-22
3     4  강혜희  99  95  79  서울 2050-05-27
4     5  김혜수  83  76  67  대전 2050-01-25
..  ...  ...  ..  ..  ..  ..        ...
95   96  이민운  99  63  65  서울 2050-08-18
96   97  장혜운  90  86  62  대전 2050-10-08
97   98  박철동  90  96  60  대전 2050-03-01
98   99  강준동  62  69  69  광주 2050-11-24
99  100  이현운  84  91  73  서울 2050-07-20

[100 rows x 7 columns]

In [ ]:

df1=pd.read_excel('/content/거래내역조회 (2).xlsx',skiprows=3)
#df_asc = df.sort_values(by='국어', ascending=True)
df1

,No.,거래일시,적요,기재내용,찾으신금액,맡기신금액,거래후 잔액,취급점,메모
0,1,2022.03.12 03:37,ＣＭＳ,NaN,9570,0,26213,유성금융센터,NaN
1,2,2022.03.11 03:26,통신요금,01011112222SKT,117910,0,35783,유성금융센터,NaN
2,3,2022.03.10 18:23,체크우리,김밥이 좋아,4500,0,153693,영업추진부(카드),NaN
3,4,2022.03.10 16:05,체크우리,스타벅스,2000,0,158193,영업추진부(카드),NaN
4,5,2022.03.10 10:42,체크우리,몸짱피트니스,238000,0,160193,영업추진부(카드),NaN
5,6,2022.03.10 10:40,타행이체,친구,0,100000,398193,KB증권,NaN
6,7,2022.03.10 00:59,펌뱅킹,이커머스,15540,0,198193,유성금융센터,NaN
7,8,2022.03.09 18:49,체크우리,커피집,2000,0,213733,영업추진부(카드),NaN
8,9,2022.03.09 18:05,타행이체,가족,0,200000,215733,KB증권,NaN
9,10,2022.03.09 16:52,체크우리,피자집,9800,0,15733,영업추진부(카드),NaN

In [ ]:
df['평균']=(df['국어']+df['영어']+df['수학'])/3
df_asc = df.sort_values(by='평균', ascending=False)
df_asc

    번호   이름  국어  영어  수학 지역명       생년월일         평균
10  11  이민은  94  91  98  광주 2050-09-07  94.333333
67  68  이혜운  83  97  97  울산 2050-10-05  92.333333
81  82  정준동  82  95  99  울산 2050-04-07  92.000000
56  57  정현연  79  97  98  부산 2050-05-11  91.333333
40  41  김명은  87  88  99  대전 2050-05-09  91.333333
..  ..  ...  ..  ..  ..  ..        ...        ...
32  33  김지동  61  73  72  광주 2050-04-16  68.666667
66  67  정현운  70  71  63  광주 2050-03-27  68.000000
98  99  강준동  62  69  69  광주 2050-11-24  66.666667
45  46  정명동  60  62  73  광주 2050-06-03  65.000000
24  25  장철운  61  62  64  부산 2050-02-05  62.333333

[100 rows x 8 columns]

In [ ]:
#df_asc['석차']=df_asc

#정렬

df1_asc=df1.sort_values(by='찾으신금액',ascending=True)         #오름차순, false면 내림차순
df1_asc

,No.,거래일시,적요,기재내용,찾으신금액,맡기신금액,거래후 잔액,취급점,메모
5,6,2022.03.10 10:40,타행이체,친구,0,100000,398193,KB증권,NaN
8,9,2022.03.09 18:05,타행이체,가족,0,200000,215733,KB증권,NaN
3,4,2022.03.10 16:05,체크우리,스타벅스,2000,0,158193,영업추진부(카드),NaN
7,8,2022.03.09 18:49,체크우리,커피집,2000,0,213733,영업추진부(카드),NaN
2,3,2022.03.10 18:23,체크우리,김밥이 좋아,4500,0,153693,영업추진부(카드),NaN
0,1,2022.03.12 03:37,ＣＭＳ,NaN,9570,0,26213,유성금융센터,NaN
9,10,2022.03.09 16:52,체크우리,피자집,9800,0,15733,영업추진부(카드),NaN
6,7,2022.03.10 00:59,펌뱅킹,이커머스,15540,0,198193,유성금융센터,NaN
1,2,2022.03.11 03:26,통신요금,01011112222SKT,117910,0,35783,유성금융센터,NaN
4,5,2022.03.10 10:42,체크우리,몸짱피트니스,238000,0,160193,영업추진부(카드),NaN

In [ ]:
df1.sort_values(by='기재내용',ascending=True)               #숫자,한글,영어 순임
df1

,No.,거래일시,적요,기재내용,찾으신금액,맡기신금액,거래후 잔액,취급점,메모
0,1,2022.03.12 03:37,ＣＭＳ,NaN,9570,0,26213,유성금융센터,NaN
1,2,2022.03.11 03:26,통신요금,01011112222SKT,117910,0,35783,유성금융센터,NaN
2,3,2022.03.10 18:23,체크우리,김밥이 좋아,4500,0,153693,영업추진부(카드),NaN
3,4,2022.03.10 16:05,체크우리,스타벅스,2000,0,158193,영업추진부(카드),NaN
4,5,2022.03.10 10:42,체크우리,몸짱피트니스,238000,0,160193,영업추진부(카드),NaN
5,6,2022.03.10 10:40,타행이체,친구,0,100000,398193,KB증권,NaN
6,7,2022.03.10 00:59,펌뱅킹,이커머스,15540,0,198193,유성금융센터,NaN
7,8,2022.03.09 18:49,체크우리,커피집,2000,0,213733,영업추진부(카드),NaN
8,9,2022.03.09 18:05,타행이체,가족,0,200000,215733,KB증권,NaN
9,10,2022.03.09 16:52,체크우리,피자집,9800,0,15733,영업추진부(카드),NaN

In [ ]:
df1.sort_values(by=['적요','찾으신금액'],ascending=True)        #두가지 기준으로 정렬하기

,No.,거래일시,적요,기재내용,찾으신금액,맡기신금액,거래후 잔액,취급점,메모
3,4,2022.03.10 16:05,체크우리,스타벅스,2000,0,158193,영업추진부(카드),NaN
7,8,2022.03.09 18:49,체크우리,커피집,2000,0,213733,영업추진부(카드),NaN
2,3,2022.03.10 18:23,체크우리,김밥이 좋아,4500,0,153693,영업추진부(카드),NaN
9,10,2022.03.09 16:52,체크우리,피자집,9800,0,15733,영업추진부(카드),NaN
4,5,2022.03.10 10:42,체크우리,몸짱피트니스,238000,0,160193,영업추진부(카드),NaN
5,6,2022.03.10 10:40,타행이체,친구,0,100000,398193,KB증권,NaN
8,9,2022.03.09 18:05,타행이체,가족,0,200000,215733,KB증권,NaN
1,2,2022.03.11 03:26,통신요금,01011112222SKT,117910,0,35783,유성금융센터,NaN
6,7,2022.03.10 00:59,펌뱅킹,이커머스,15540,0,198193,유성금융센터,NaN
0,1,2022.03.12 03:37,ＣＭＳ,NaN,9570,0,26213,유성금융센터,NaN

In [ ]:
df1.sort_values(by=['적요','찾으신금액'],ascending=[True,False])              #오름차순일지 내림차순일지 순서대로 정하기

,No.,거래일시,적요,기재내용,찾으신금액,맡기신금액,거래후 잔액,취급점,메모
4,5,2022.03.10 10:42,체크우리,몸짱피트니스,238000,0,160193,영업추진부(카드),NaN
9,10,2022.03.09 16:52,체크우리,피자집,9800,0,15733,영업추진부(카드),NaN
2,3,2022.03.10 18:23,체크우리,김밥이 좋아,4500,0,153693,영업추진부(카드),NaN
3,4,2022.03.10 16:05,체크우리,스타벅스,2000,0,158193,영업추진부(카드),NaN
7,8,2022.03.09 18:49,체크우리,커피집,2000,0,213733,영업추진부(카드),NaN
5,6,2022.03.10 10:40,타행이체,친구,0,100000,398193,KB증권,NaN
8,9,2022.03.09 18:05,타행이체,가족,0,200000,215733,KB증권,NaN
1,2,2022.03.11 03:26,통신요금,01011112222SKT,117910,0,35783,유성금융센터,NaN
6,7,2022.03.10 00:59,펌뱅킹,이커머스,15540,0,198193,유성금융센터,NaN
0,1,2022.03.12 03:37,ＣＭＳ,NaN,9570,0,26213,유성금융센터,NaN

In [ ]:
df1['찾으신금액']        #시리즈를 정렬하기
df1['찾으신금액'].sort_values(ascending=False)

4    238000
1    117910
6     15540
9      9800
0      9570
2      4500
3      2000
7      2000
5         0
8         0
Name: 찾으신금액, dtype: int64

In [ ]:
#인덱스로 정렬
df1.sort_index(ascending=False)

,No.,거래일시,적요,기재내용,찾으신금액,맡기신금액,거래후 잔액,취급점,메모
9,10,2022.03.09 16:52,체크우리,피자집,9800,0,15733,영업추진부(카드),NaN
8,9,2022.03.09 18:05,타행이체,가족,0,200000,215733,KB증권,NaN
7,8,2022.03.09 18:49,체크우리,커피집,2000,0,213733,영업추진부(카드),NaN
6,7,2022.03.10 00:59,펌뱅킹,이커머스,15540,0,198193,유성금융센터,NaN
5,6,2022.03.10 10:40,타행이체,친구,0,100000,398193,KB증권,NaN
4,5,2022.03.10 10:42,체크우리,몸짱피트니스,238000,0,160193,영업추진부(카드),NaN
3,4,2022.03.10 16:05,체크우리,스타벅스,2000,0,158193,영업추진부(카드),NaN
2,3,2022.03.10 18:23,체크우리,김밥이 좋아,4500,0,153693,영업추진부(카드),NaN
1,2,2022.03.11 03:26,통신요금,01011112222SKT,117910,0,35783,유성금융센터,NaN
0,1,2022.03.12 03:37,ＣＭＳ,NaN,9570,0,26213,유성금융센터,NaN

In [ ]:
#자르기(위에서 자르기, 아래에서 자르기)
df.head()
df.tail()
df_new=df.sort_values(by='국어',ascending=False)

# 문제1. 학생 데이터를 국어 성적으로 내림차순 정렬한 뒤 위에서 11개, 아래에서 7개 삭제

df_new.iloc[12:-8,:]

    번호   이름  국어  영어  수학 지역명       생년월일         평균    석차
46  47  정혜은  94  62  93  광주 2050-06-18  83.000000  26.5
83  84  장혜은  94  76  99  서울 2050-07-12  89.666667   9.5
12  13  장민진  94  70  74  대구 2050-08-12  79.333333  52.5
10  11  이민은  94  91  98  광주 2050-09-07  94.333333   1.0
8    9  이지희  94  63  78  광주 2050-06-23  78.333333  57.5
..  ..  ...  ..  ..  ..  ..        ...        ...   ...
63  64  정준진  63  85  81  서울 2050-02-06  76.333333  69.0
30  31  박현진  63  90  62  부산 2050-06-11  71.666667  88.0
68  69  장지진  63  98  70  서울 2050-09-21  77.000000  63.5
61  62  이준수  63  73  77  울산 2050-06-06  71.000000  90.0
36  37  윤명진  62  93  95  광주 2050-04-27  83.333333  24.0

[80 rows x 9 columns]

In [ ]:
#학생들의 총점, 평균 구하기


# 문제2. 학생들의 평균이 높은 순으로 정렬. 만약 평균이 같다면 학번으로 오름차순


# 문제3. 학생들의 평균으로 석차를 내어 석차 순으로 오름차순.


df['평균']=(df['국어']+df['영어']+df['수학'])/3
df_asc = df.sort_values(by=['평균','번호'], ascending=[False,True])
df_asc

    번호   이름  국어  영어  수학 지역명       생년월일         평균
10  11  이민은  94  91  98  광주 2050-09-07  94.333333
67  68  이혜운  83  97  97  울산 2050-10-05  92.333333
81  82  정준동  82  95  99  울산 2050-04-07  92.000000
40  41  김명은  87  88  99  대전 2050-05-09  91.333333
56  57  정현연  79  97  98  부산 2050-05-11  91.333333
..  ..  ...  ..  ..  ..  ..        ...        ...
32  33  김지동  61  73  72  광주 2050-04-16  68.666667
66  67  정현운  70  71  63  광주 2050-03-27  68.000000
98  99  강준동  62  69  69  광주 2050-11-24  66.666667
45  46  정명동  60  62  73  광주 2050-06-03  65.000000
24  25  장철운  61  62  64  부산 2050-02-05  62.333333

[100 rows x 8 columns]

In [ ]:
df['석차'] = df['평균'].rank(ascending=False)
df.sort_values(by='석차',ascending=True)

    번호   이름  국어  영어  수학 지역명       생년월일         평균     석차
10  11  이민은  94  91  98  광주 2050-09-07  94.333333    1.0
67  68  이혜운  83  97  97  울산 2050-10-05  92.333333    2.0
81  82  정준동  82  95  99  울산 2050-04-07  92.000000    3.0
40  41  김명은  87  88  99  대전 2050-05-09  91.333333    4.5
56  57  정현연  79  97  98  부산 2050-05-11  91.333333    4.5
..  ..  ...  ..  ..  ..  ..        ...        ...    ...
32  33  김지동  61  73  72  광주 2050-04-16  68.666667   96.0
66  67  정현운  70  71  63  광주 2050-03-27  68.000000   97.0
98  99  강준동  62  69  69  광주 2050-11-24  66.666667   98.0
45  46  정명동  60  62  73  광주 2050-06-03  65.000000   99.0
24  25  장철운  61  62  64  부산 2050-02-05  62.333333  100.0

[100 rows x 9 columns]

In [ ]:
idx1=df.head(10).index
idx2=df.tail(7).index
df3=df.drop(idx1)
df3=df3.drop(idx2)
df3

    번호   이름  국어  영어  수학 지역명       생년월일         평균    석차
10  11  이민은  94  91  98  광주 2050-09-07  94.333333   1.0
11  12  박준진  74  80  89  대전 2050-03-21  81.000000  38.0
12  13  장민진  94  70  74  대구 2050-08-12  79.333333  52.5
13  14  강혜은  84  68  98  서울 2050-03-26  83.333333  24.0
14  15  장명진  75  85  82  대전 2050-05-12  80.666667  41.0
..  ..  ...  ..  ..  ..  ..        ...        ...   ...
88  89  박명희  83  94  94  대구 2050-07-02  90.333333   8.0
89  90  윤민연  69  63  77  광주 2050-04-20  69.666667  94.5
90  91  정철동  81  98  82  대전 2050-01-03  87.000000  15.0
91  92  정철동  85  71  76  부산 2050-05-24  77.333333  62.0
92  93  박혜진  66  89  63  대전 2050-03-21  72.666667  85.5

[83 rows x 9 columns]

In [ ]:
#컬럼 정보 얻기
df1.columns             #이건 인덱스 (  정보)
df1.columns.values    #이건 리스트   ( 배열)

array(['No.', '거래일시', '적요', '기재내용', '찾으신금액', '맡기신금액', '거래후 잔액', '취급점',
       '메모'], dtype=object)

In [ ]:
#추가

df1['메모2']='a'     #일괄적으로 다 들어감
#다른 컬럼을 이용해서 새 컬럼으로 만듦

df1['찾으신금액2']=df1['찾으신금액']*2
df1

,No.,거래일시,적요,기재내용,찾으신금액,맡기신금액,거래후 잔액,취급점,메모,메모2,찾으신금액2
0,1,2022.03.12 03:37,ＣＭＳ,NaN,9570,0,26213,유성금융센터,NaN,a,19140
1,2,2022.03.11 03:26,통신요금,01011112222SKT,117910,0,35783,유성금융센터,NaN,a,235820
2,3,2022.03.10 18:23,체크우리,김밥이 좋아,4500,0,153693,영업추진부(카드),NaN,a,9000
3,4,2022.03.10 16:05,체크우리,스타벅스,2000,0,158193,영업추진부(카드),NaN,a,4000
4,5,2022.03.10 10:42,체크우리,몸짱피트니스,238000,0,160193,영업추진부(카드),NaN,a,476000
5,6,2022.03.10 10:40,타행이체,친구,0,100000,398193,KB증권,NaN,a,0
6,7,2022.03.10 00:59,펌뱅킹,이커머스,15540,0,198193,유성금융센터,NaN,a,31080
7,8,2022.03.09 18:49,체크우리,커피집,2000,0,213733,영업추진부(카드),NaN,a,4000
8,9,2022.03.09 18:05,타행이체,가족,0,200000,215733,KB증권,NaN,a,0
9,10,2022.03.09 16:52,체크우리,피자집,9800,0,15733,영업추진부(카드),NaN,a,19600

In [ ]:
#수정
#컬럼값을 얻어와서 직접 바꾸기
df1_tmp=df1[['No.','거래일시','적요','기재내용','찾으신금액']]
df1_tmp.columns=['a','b','c','d','e']
df1_tmp

df1_tmp.columns.values[0]='No.'         #원본이 바뀜
df1_tmp
#함수를 이용해서 바꾸기  rename(딕셔너리)
df1_tmp2=df1[['No.','거래일시','적요','기재내용','찾으신금액']]
df1_tmp2.rename(columns={'No.':'번호','거래일시':'거래날짜'})
#원본은 유지되고 복사본을 리턴
df1_tmp2.rename(columns={'No.':'번호','거래일시':'거래날짜'},inplace=True)
df1_tmp2

<ipython-input-75-40c4b0ecb96b>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_tmp2.rename(columns={'No.':'번호','거래일시':'거래날짜'},inplace=True)

   번호              거래날짜    적요            기재내용   찾으신금액
0   1  2022.03.12 03:37   ＣＭＳ             NaN    9570
1   2  2022.03.11 03:26  통신요금  01011112222SKT  117910
2   3  2022.03.10 18:23  체크우리          김밥이 좋아    4500
3   4  2022.03.10 16:05  체크우리            스타벅스    2000
4   5  2022.03.10 10:42  체크우리          몸짱피트니스  238000
5   6  2022.03.10 10:40  타행이체              친구       0
6   7  2022.03.10 00:59   펌뱅킹            이커머스   15540
7   8  2022.03.09 18:49  체크우리             커피집    2000
8   9  2022.03.09 18:05  타행이체              가족       0
9  10  2022.03.09 16:52  체크우리             피자집    9800

In [ ]:
#컬럼 삭제
#내가 원하는 컬럼만 선택
df1_tmp3=df1[df1.columns.values[1:-2]]     #원본 살아있음
df1_tmp3
#삭제함수를 이용   drop()

df1.drop(['메모2','찾으신금액2'],axis=1,inplace=True)
df1

,No.,거래일시,적요,기재내용,찾으신금액,맡기신금액,거래후 잔액,취급점,메모
0,1,2022.03.12 03:37,ＣＭＳ,NaN,9570,0,26213,유성금융센터,NaN
1,2,2022.03.11 03:26,통신요금,01011112222SKT,117910,0,35783,유성금융센터,NaN
2,3,2022.03.10 18:23,체크우리,김밥이 좋아,4500,0,153693,영업추진부(카드),NaN
3,4,2022.03.10 16:05,체크우리,스타벅스,2000,0,158193,영업추진부(카드),NaN
4,5,2022.03.10 10:42,체크우리,몸짱피트니스,238000,0,160193,영업추진부(카드),NaN
5,6,2022.03.10 10:40,타행이체,친구,0,100000,398193,KB증권,NaN
6,7,2022.03.10 00:59,펌뱅킹,이커머스,15540,0,198193,유성금융센터,NaN
7,8,2022.03.09 18:49,체크우리,커피집,2000,0,213733,영업추진부(카드),NaN
8,9,2022.03.09 18:05,타행이체,가족,0,200000,215733,KB증권,NaN
9,10,2022.03.09 16:52,체크우리,피자집,9800,0,15733,영업추진부(카드),NaN

In [ ]:
df1.drop([0,1],axis=0)

   No.              거래일시    적요    기재내용   찾으신금액   맡기신금액  거래후 잔액        취급점  메모
2    3  2022.03.10 18:23  체크우리  김밥이 좋아    4500       0  153693  영업추진부(카드) NaN
3    4  2022.03.10 16:05  체크우리    스타벅스    2000       0  158193  영업추진부(카드) NaN
4    5  2022.03.10 10:42  체크우리  몸짱피트니스  238000       0  160193  영업추진부(카드) NaN
5    6  2022.03.10 10:40  타행이체      친구       0  100000  398193       KB증권 NaN
6    7  2022.03.10 00:59   펌뱅킹    이커머스   15540       0  198193     유성금융센터 NaN
7    8  2022.03.09 18:49  체크우리     커피집    2000       0  213733  영업추진부(카드) NaN
8    9  2022.03.09 18:05  타행이체      가족       0  200000  215733       KB증권 NaN
9   10  2022.03.09 16:52  체크우리     피자집    9800       0   15733  영업추진부(카드) NaN

In [ ]:
#컬럼과 인덱스 조작

# 1. 김씨 성을 가진 학생들의 이름과 평균. 평균으로 내림차순
# 2. 이름에 희자가 들어간 학생들의 번호, 이름, 평균. 번호로 오름차순
# 3. 생년월일의 구분자를 -에서 .으로 바꾸기
# 4. 생년월일에서 연도를 빼고 월일만
# 5. 학생의 이름에서 성과 이름을 서로 다른 컬럼으로 분리.
# 6. 학생들의 성씨 별로 각각 몇 명인지 확인.
# 7. 학생들의 평균 수학 점수가 가장 높은 도시는?

In [ ]:
idx=[]
for i in range(1,100):
  if '김' in df['이름'][i]:
    idx.append(i)
idx2=[]
for i in range(1,100):
  if '희' in df['이름'][i]:
    idx2.append(i)

In [ ]:
df.loc[idx].sort_values(by='평균',ascending=False)
df_hi=df.loc[idx2].sort_values(by='번호',ascending=True)
df_hi=df_hi[['번호','이름','평균']]
df_hi

    번호   이름         평균
3    4  강혜희  91.000000
8    9  이지희  78.333333
18  19  이명희  82.000000
29  30  박혜희  70.333333
31  32  장철희  74.666667
35  36  정현희  81.666667
42  43  정철희  82.333333
72  73  장지희  78.666667
85  86  김준희  78.000000
87  88  정혜희  80.000000
88  89  박명희  90.333333

In [ ]:
#생년월일의 구분자를 -에서 .으로 바꾸기
df['생년월일'][1]
df['생년월일'] = df['생년월일'].replace('-', '.', regex=True)
df

     번호   이름  국어  영어  수학 지역명       생년월일         평균    석차
0     1  이현진  68  77  81  대전 2050-08-17  75.333333  77.0
1     2  장민동  84  97  88  광주 2050-08-02  89.666667   9.5
2     3  강준은  63  85  64  울산 2050-10-22  70.666667  91.5
3     4  강혜희  99  95  79  서울 2050-05-27  91.000000   6.0
4     5  김혜수  83  76  67  대전 2050-01-25  75.333333  77.0
..  ...  ...  ..  ..  ..  ..        ...        ...   ...
95   96  이민운  99  63  65  서울 2050-08-18  75.666667  74.5
96   97  장혜운  90  86  62  대전 2050-10-08  79.333333  52.5
97   98  박철동  90  96  60  대전 2050-03-01  82.000000  32.5
98   99  강준동  62  69  69  광주 2050-11-24  66.666667  98.0
99  100  이현운  84  91  73  서울 2050-07-20  82.666667  28.5

[100 rows x 9 columns]

In [ ]:
df1

,거래일시,적요,기재내용,찾으신금액,맡기신금액,거래후 잔액,취급점,메모
No.,,,,,,,,
1,2022.03.12 03:37,ＣＭＳ,NaN,9570,0,26213,유성금융센터,NaN
2,2022.03.11 03:26,통신요금,01011112222SKT,117910,0,35783,유성금융센터,NaN
3,2022.03.10 18:23,체크우리,김밥이 좋아,4500,0,153693,영업추진부(카드),NaN
4,2022.03.10 16:05,체크우리,스타벅스,2000,0,158193,영업추진부(카드),NaN
5,2022.03.10 10:42,체크우리,몸짱피트니스,238000,0,160193,영업추진부(카드),NaN
6,2022.03.10 10:40,타행이체,친구,0,100000,398193,KB증권,NaN
7,2022.03.10 00:59,펌뱅킹,이커머스,15540,0,198193,유성금융센터,NaN
8,2022.03.09 18:49,체크우리,커피집,2000,0,213733,영업추진부(카드),NaN
9,2022.03.09 18:05,타행이체,가족,0,200000,215733,KB증권,NaN
10,2022.03.09 16:52,체크우리,피자집,9800,0,15733,영업추진부(카드),NaN

In [ ]:



#인덱스 되돌리기
df1.reset_index()
df1.reset_index()
df1.reset_index()

,적요,거래일시,기재내용,찾으신금액,맡기신금액,거래후 잔액,취급점,메모
0,ＣＭＳ,2022.03.12 03:37,NaN,9570,0,26213,유성금융센터,NaN
1,통신요금,2022.03.11 03:26,01011112222SKT,117910,0,35783,유성금융센터,NaN
2,체크우리,2022.03.10 18:23,김밥이 좋아,4500,0,153693,영업추진부(카드),NaN
3,체크우리,2022.03.10 16:05,스타벅스,2000,0,158193,영업추진부(카드),NaN
4,체크우리,2022.03.10 10:42,몸짱피트니스,238000,0,160193,영업추진부(카드),NaN
5,타행이체,2022.03.10 10:40,친구,0,100000,398193,KB증권,NaN
6,펌뱅킹,2022.03.10 00:59,이커머스,15540,0,198193,유성금융센터,NaN
7,체크우리,2022.03.09 18:49,커피집,2000,0,213733,영업추진부(카드),NaN
8,타행이체,2022.03.09 18:05,가족,0,200000,215733,KB증권,NaN
9,체크우리,2022.03.09 16:52,피자집,9800,0,15733,영업추진부(카드),NaN

In [ ]:
df1=pd.read_excel('/content/거래내역조회 (2).xlsx',skiprows=3)
df1

,No.,거래일시,적요,기재내용,찾으신금액,맡기신금액,거래후 잔액,취급점,메모
0,1,2022.03.12 03:37,ＣＭＳ,NaN,9570,0,26213,유성금융센터,NaN
1,2,2022.03.11 03:26,통신요금,01011112222SKT,117910,0,35783,유성금융센터,NaN
2,3,2022.03.10 18:23,체크우리,김밥이 좋아,4500,0,153693,영업추진부(카드),NaN
3,4,2022.03.10 16:05,체크우리,스타벅스,2000,0,158193,영업추진부(카드),NaN
4,5,2022.03.10 10:42,체크우리,몸짱피트니스,238000,0,160193,영업추진부(카드),NaN
5,6,2022.03.10 10:40,타행이체,친구,0,100000,398193,KB증권,NaN
6,7,2022.03.10 00:59,펌뱅킹,이커머스,15540,0,198193,유성금융센터,NaN
7,8,2022.03.09 18:49,체크우리,커피집,2000,0,213733,영업추진부(카드),NaN
8,9,2022.03.09 18:05,타행이체,가족,0,200000,215733,KB증권,NaN
9,10,2022.03.09 16:52,체크우리,피자집,9800,0,15733,영업추진부(카드),NaN

In [ ]:
df1.set_index('No.')
df1.reset_index()
df1['No.1']=df1.index.values+1
df1

,No.,거래일시,적요,기재내용,찾으신금액,맡기신금액,거래후 잔액,취급점,메모,No.1
0,1,2022.03.12 03:37,ＣＭＳ,NaN,9570,0,26213,유성금융센터,NaN,1
1,2,2022.03.11 03:26,통신요금,01011112222SKT,117910,0,35783,유성금융센터,NaN,2
2,3,2022.03.10 18:23,체크우리,김밥이 좋아,4500,0,153693,영업추진부(카드),NaN,3
3,4,2022.03.10 16:05,체크우리,스타벅스,2000,0,158193,영업추진부(카드),NaN,4
4,5,2022.03.10 10:42,체크우리,몸짱피트니스,238000,0,160193,영업추진부(카드),NaN,5
5,6,2022.03.10 10:40,타행이체,친구,0,100000,398193,KB증권,NaN,6
6,7,2022.03.10 00:59,펌뱅킹,이커머스,15540,0,198193,유성금융센터,NaN,7
7,8,2022.03.09 18:49,체크우리,커피집,2000,0,213733,영업추진부(카드),NaN,8
8,9,2022.03.09 18:05,타행이체,가족,0,200000,215733,KB증권,NaN,9
9,10,2022.03.09 16:52,체크우리,피자집,9800,0,15733,영업추진부(카드),NaN,10